*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: linear-gradient(180deg, #0d0d0d 0%, #1a1a1a 30%, #2e2e2e 40%, #99ff00 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bokor", system-ui;
  font-size: 35px;
  padding: 0;
  margin: 0;
}
button{
  transition: transform 0.15s ease;
}
button:hover{
  cursor: pointer;
  transform: scale(1.07);
}
.renderWord{
  font-size: 1.6em;
}
.triesLeft{
  content: "";
  width: 100%;
  height: 20px;
  border-radius: 6px;
  background-color: white;
  transition: width 1s ease-out
}
h1,h3,h4{
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 400;
  text-shadow: 2px 2px 4px  green;
  color: #FFF;
}
.spaced{
  margin-inline: 0.3em;
}
.wordsStart{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-shadow: 2px 2px 4px  green;
  font-size: 1.5em;
  color: rgb(230,230,230);
}
.wordsStart h5,.wordsStart h2{
  padding: 0;
  margin: 0;
}
.startCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.startCont h1,.startCont h4,ul{
  padding: 0;
  margin: 0;
}
.startCont h1{
  font-size: 1.5em;
}
.startCont h4{
  font-size: 1.3em;
}
ul{
  padding-inline: 0.9em;
  padding-bottom: 0.9em;
  width: 100%;
  overflow-x:auto;
  overflow-y: hidden;
  display: grid;
  max-width: 100%; /* Prevent it from exceeding 80% */
  scroll-behavior: smooth;
  grid-auto-flow: column;
  grid-template-rows: repeat(2,20px);
  row-gap: 0.7em;
  column-gap: 1em;
}

.hangman{
  width: 200px;
  height: 200px;
  background-size: cover;
  filter:blur(0.5px);

  border-radius: 1px;
}
.hangman5{
  background-image: url(../public/5left.png)
}
.hangman4{
  background-image: url(../public/4left.png)
}
.hangman3{
  background-image: url(../public/3left.png)
  
}
.hangman2{
  background-image: url(../public/2left.png);
}
.hangman1{
  background-image: url(../public/1left.png);
}
.hangman0{
  background-image: url(../public/0left.png)
}
.hangMan
.hanger{
  display: flex;
}
ul::-webkit-scrollbar{
  width: 50px;
  border-radius: 2px;
  height: 15px;
}
ul::-webkit-scrollbar-thumb {
  width: 50px;
  background: #bbb; /* Scrollbar thumb (the draggable part) */
  border-radius: 4px; /* Round edges for the thumb */
}
ul li{
  padding: 0;
  margin-right: 0.7em;
  font-size: 0.8em;
  transition: transform 0.3s ease;
}
ul li::marker{
  padding: 0;
  margin: 0;
}
ul li:hover{
  cursor: pointer;
  color: red;
  font-weight: 700;
  transform: scaleX(1.07);
}
.startCont button,.startCont input,.loseScreen button,.gameBtnPlayAgain{
  width: 10em;
  border-radius: 5px;
  font-family: "Bokor", system-ui;
  border: none;
  font-size: 1em;
}


.startCont button{
  cursor: pointer;
  border: none;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 0.5em;
}
.container h1{
  font-size: 1.5em;
}
.btnsCont{
  display: flex;
  gap: 15px;
}
.container h3,.container h2{
  margin: 0;
}
.keysCont{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(13,auto);
  gap: 10px;
  border: 3px solid white;
  font-size: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0,250,0,0.20) 0px -12px 30px, rgba(0, 250, 0, 0.12) 0px 4px 6px, rgba(0, 250, 0, 0.17) 0px 12px 13px, rgba(0, 250, 0, 0.09) 0px -3px 5px;
}

.keysCont button{
  background-color: rgba(239,239,239,0.9); /* Blue */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease,text-shadow 0.3s,opacity 0.3s ease,ease, transform 0.2s ease;  
  font-family: "Barlow Condensed", sans-serif;
  border-radius: 5px;
  border: none;
  padding: 0.3em;
  padding-inline: 0.5em;
  font-size: 2em;
  font-weight: 500;
}
.keysCont button:hover{
  font-weight: 700;
  background-color: #FFF; /* Darker blue */
  transform: scale(1.08); /* Slightly enlarges the button */
  text-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5); /* Inner shadow effect */
  opacity: 0.9; /* Slight dimming */


}

span.letterInWord{
  font-size: 1.8em;
  color: #FFF;
}
span.notInWord{
  font-size: 1.8em;
  color: red;
  text-decoration: underline;

}
.keysCont button.letterInWord{
  color: green;
  opacity: 0.75;
  font-weight: 600;
  background-color: darkgrey;

}
.keysCont button.notInWord{

  background-color: darkgrey;
  color: red; /* Blue */
  font-weight: 600;
  opacity: 0.75;
}
.loseScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1100px)  {
  body{
    font-size: 16px;
    display: block;
  }
  .startCont button{
    font-size: 1.5em;
  }
  .startCont input{
    font-size: 1.5em;
  }

  .container{
    margin-inline:auto;
    margin-top: 1em;
    width: 100%;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
  }
  .keysCont{
    border: 3px solid white;
    width: 95%;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(13,auto);
    display: grid;
    padding: 0.6em;
    gap: 5px;
    row-gap: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0,250,0,0.20) 0px -12px 30px, rgba(0, 250, 0, 0.12) 0px 4px 6px, rgba(0, 250, 0, 0.17) 0px 12px 13px, rgba(0, 250, 0, 0.09) 0px -3px 5px;
  }
  .container h1{
    font-size: 1.7em;
  }
  .gameBtnPlayAgain{
    width: 8em;
    padding: 0em;
  }
  
  .btnsCont{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.5em;
  }
  .wordsStart{
    max-width: 360px;
  }
  .keysCont button{
    padding: 0.2em;
   font-size: 1.5em; 
  }
  
}
@media screen and (orientation: landscape) and (max-width: 1100px){
  body{
    height: 100vh;
  }
  .hangman{
    width: 100px;
    height: 100px;
  }
  
  .container{
    gap: 1em;
  }
  .triesLeft{
    width: 100%;
    height: 10px;
  }
  .btnsCont{
    flex-direction: row;
    font-size: 1.1em;
  }
  .startCont{
    gap: 10px;
  }
  .container h1{
    font-size: 1.3em;
  }
}